{% include '@unilevelmlm/unilevelmlm-sidebar-template.html.twig' %}
<div class="let-row">
    <div class="let-col-md-6">
        <div class="let-card shadow let-mb-4">
            <div class="let-card-header ump-bg let-py-3">
                <h6 class="let-m-0 let-font-weight-bold ">{{'User Info' |t}}</h6>
            </div>
            <div class="let-card-body">
                <div class="let-table-responsive">
                    {% for user in user_info %}
                    <table class="let-table let-table-bordered let-table-striped" width="100%" cellspacing="0">
                        <tr>
                            <th>{{'User Name' |t}}</th>
                            <td>{{user.user_name}}</td>
                        </tr>
                        <tr>
                            <th>{{'User email' |t}}</th>
                            <td>{{user.user_email}}</td>
                        </tr>
                        <tr>
                            <th>{{'Join Date' |t}}</th>
                            <td>{{user.join_date}}</td>
                        </tr>
                    </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="let-col-md-6">
        <div class="let-card shadow let-mb-4">
            <div class="let-card-header ump-bg let-py-3">
                <h6 class="let-m-0 let-font-weight-bold ">{{'Ump Info' |t}}</h6>
            </div>
            <div class="let-card-body">
                <div class="let-table-responsive">
                    {% for user in user_info %}
                    <table class="let-table let-table-bordered  let-table-striped" width="100%" cellspacing="0">
                        <tr>
                            <th>{{'User Id' |t}}</th>
                            <td>{{user.user_id}}</td>
                        </tr>
                        <tr>
                            <th>{{'Sponsor Key' |t}}</th>
                            <td>{{user.sponsor_key}}</td>
                        </tr>
                        <tr>
                            <th>{{'Parent key' |t}}</th>
                            <td>{{user.parent_key}}</td>
                        </tr>
                        <tr>
                            <th>{{'Payment Date' |t}}</th>
                            <td>{{user.payment_date}}</td>
                        </tr>
                    </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include '@unilevelmlm/unilevelmlm-footer-template.html.twig' %}