{% include '@unilevelmlm/unilevelmlm-sidebar-template.html.twig' %}
<div class="let-loader-layer" id="bank_loader">
    <div class="let-pic-loader"></div>
</div>
<!-- dashboard -->
<form method="POST" action="" id="ump_account_details_form">
    <table class="let-table let-table-bordered">
        <thead class="ump-bg let-text-white let-bg-secondary">
            <tr>
                <th colspan="2" class="let-p-3 ">{{'Account Information' |t}}</th>
            </tr>
        </thead>

        <tr>
            <th class="let-text-center">{{'Account Holder' |t}}</th>
            <td class="let-text-center"><input type="text" class="let-form-control let-offset-1 let-col-md-10"
                    name="ump-bank-account-holder" value="{{user_bank_details.account_holder}}"
                    placeholder="Account Holder Name">
                <span class="err_div" id="err_account_holder_name"></span>
            </td>
        </tr>
        <tr>
            <th class="let-text-center">{{'Account Number' |t}}</th>
            <td class="let-text-center"><input type="text" class="let-form-control let-offset-1 let-col-md-10"
                    name="ump-bank-account-number" value="{{user_bank_details.account_number}}"
                    placeholder="Account Number">
                <span class="err_div" id="err_account_number"></span>
            </td>
        </tr>
        <tr>
            <th class="let-text-center">{{'Bank Name' |t}}</th>
            <td class="let-text-center"><input type="text" class="let-form-control let-offset-1 let-col-md-10"
                    name="ump-bank-bank-name" value="{{user_bank_details.bank_name}}" placeholder="Bank Name">
                <span class="err_div" id="err_bank_name"></span>
            </td>
        </tr>
        <tr>
            <th class="let-text-center">{{'Branch Name' |t}}</th>
            <td class="let-text-center"><input type="text" class="let-form-control let-offset-1 let-col-md-10"
                    name="ump-bank-branch-name" value="{{user_bank_details.branch}}" placeholder="Branch Name">
                <span class="err_div" id="err_branch"></span>
            </td>
        </tr>
        <tr>
            <th class="let-text-center">{{'Ifsc Code' |t}}</th>
            <td class="let-text-center"><input type="text" class="let-form-control let-offset-1 let-col-md-10"
                    name="ump-bank-ifsc-code" value="{{user_bank_details.ifsc_code}}" placeholder="Ifsc Code">
                <span class="err_div" id="err_ifsc_code"></span>
            </td>
        </tr>
        <tr>
            <th class="let-text-center"> {{'Contact Number' |t}} </th>
            <td class="let-text-center"><input type="text" class="let-form-control let-offset-1 let-col-md-10"
                    name="ump-contact-number" minlength="10" maxlength="10" value="{{user_bank_details.contact_no}}"
                    placeholder=" Contact Number">
                <span class="err_div" id="err_contact_number"></span>
            </td>
        </tr>

        <tfoot class="ump-bg let-text-white">
            <tr>
                <th colspan="2" class="let-text-center"><button type="submit"
                        class="let-btn let-btn-secondary">{{'Submit Account Information' |t}}</button></th>
            </tr>
        </tfoot>
    </table>
</form>

{% include '@unilevelmlm/unilevelmlm-footer-template.html.twig' %}