{% include '@unilevelmlm/unilevelmlm-sidebar-template.html.twig' %}
{{attach_library('unilevelmlm/unilevel-chart')}}
<div id="let-content-wrapper" class="let-d-flex let-flex-column">
    <div id="let-content">
        <div class="let-row">
            <div class="let-col-xl-4 let-col-md-6 let-mb-4">
                <div class="let-card border-left-primary shadow let-h-100 let-py-2 let-bg-primary">
                    <div class="let-card-body">
                        <div class="let-row no-gutters let-align-items-center">
                            <div class="let-col">
                                <div class="let-text-xs font-weight-bold let-text-light let-text-uppercase let-mb-1">
                                    {{'Earning' |t}}<br>{{'Total' |t}}</div>
                            </div>
                            <div class="let-col-auto">
                                <i class="fas fa-calendar fa-2x  let-text-dark"></i>
                            </div>

                        </div>
                        <div class="h4 let-mb-0 font-weight-bold  let-text-dark">{{total_earning_week}}<br><sub
                                class="let_sub_count let-text-light">{{earning_week_percent}} {{'% from last weak'
                                |t}}</sub></div>
                    </div>
                </div>
            </div>
            <!-- earning card -->
            <!-- withdrawal card -->
            <div class="let-col-xl-4 let-col-md-6 let-mb-4">
                <div class="let-card border-left-success  let-bg-success shadow let-h-100 let-py-2">
                    <div class="let-card-body">
                        <div class="let-row no-gutters let-align-items-center">
                            <div class="let-col">
                                <div class="let-text-xs font-weight-bold let-text-light let-text-uppercase let-mb-1">
                                    {{'Withdrawal' |t}}<br>{{'Total' |t}}</div>

                            </div>
                            <div class="let-col-auto">
                                <i class="fas fa-dollar-sign fa-2x  let-text-dark"></i>
                            </div>
                        </div>
                        <div class="h4 let-mb-0 font-weight-bold  let-text-dark">{{total_withdrawal}}<br><sub
                                class="let_sub_count let-text-light">{{withdrawal_week_percent}} {{'% from last weak'
                                |t}}</sub></div>
                    </div>
                </div>
            </div>
            <!-- withdrawal card -->
            <!-- downlines -->
            <div class="let-col-xl-4 let-col-md-6 let-mb-4">
                <div class="let-card border-left-warning let-bg-warning shadow let-h-100 let-py-2">
                    <div class="let-card-body">
                        <div class="let-row no-gutters let-align-items-center">
                            <div class="let-col">
                                <div class="let-text-xs font-weight-bold let-text-light let-text-uppercase let-mb-1">
                                    {{'Dowenlines' |t}} <br>{{'Total' |t}}</div>
                            </div>
                            <div class="let-col-auto">
                                <i class="fas fa-network-wired fa-2x  let-text-dark"></i>
                            </div>
                        </div>
                        <div class="h4 let-mb-0 font-weight-bold  let-text-dark">{{total_downlines}}<br><sub
                                class="let_sub_count let-text-light">{{user_week_percent}} {{'% from last weak'
                                |t}}</sub></div>
                    </div>
                </div>
            </div>
            <!-- downlines -->            
        </div>        
        <!-- area chart  -->
        <div class="let-row">
            <div class="let-card shadow let-mb-4 let-col-md-8">
                <div
                    class="card-header let-py-3 let-d-flex let-flex-row let-align-items-center let-justify-content-between">
                    <h6 class="let-m-0 font-weight-bold let-text-primary">{{'Earnings Overview' |t}}</h6>
                </div>
                <div class="let-card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
            <!-- area chart  -->
            <!-- pie chart -->
            <div class="let-card shadow let-mb-4 let-col-md-4">
                <div
                    class="let-card-header let-py-3 let-d-flex let-flex-row let-align-items-center let-justify-content-between">
                    <h6 class="let-m-0 font-weight-bold let-text-primary">{{'Earning Sources' |t}}</h6>
                </div>
                <div class="let-card-body">
                    <div class="chart-pie let-pt-4 let-pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="let-mt-4 let-text-center let-small">
                        <span class="let-mr-2">
                            <i class="fas fa-circle let-text-primary"></i> {{'Join' |t}}
                        </span>

                        <span class="let-mr-2">
                            <i class="fas fa-circle let-text-success"></i>{{'Referral' |t}}
                        </span>

                        <span class="let-mr-2">
                            <i class="fas fa-circle let-text-info"></i>{{'Level' |t}}
                        </span>

                        <span class="let-mr-2">
                            <i class="fas fa-circle let-text-danger"></i> {{'Ragular' |t}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '@unilevelmlm/unilevelmlm-footer-template.html.twig' %}